@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@1,300&display=swap');
html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    // padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    background-color: $white;
    position: relative;
    width: 100%;
}

a, a:visited, a:hover {
    color: $link-biasa;
    text-decoration: none;

}
h1 {
    color: $h1;
}
h2 {
    color: $h2;
}
h3 {
    color: $h3;
}
h4 {
    color: $h4;
}
h5 {
    color: $h5;
}
p {
    color: $p;
}
li {
    list-style: none;
}
section{
    width: 100%;
    height: 100%;
}